.trailer-modal {
    position: absolute;
    content: '';
    top: 125px;
    left: 100px;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.5);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}

.trailer-modal .closeBtn {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    font-size: 1.8rem;
    cursor: pointer;
}

.trailer-modal iframe {
    max-width: 1280px;
    max-height: 720px;
}

.trailer-modal.active {
    opacity: 1;
    visibility: visible;
}

